header{
	background-color: aqua;
}
nav{
	border: solid magenta 8px;
}
nav ul{
	border: solid magenta 8px;
}
nav ul li:nth-child(odd){
	background-color: aqua;
}
nav ul li:nth-child(even){
	background-color: magenta;
}
aside{
	background-color: aqua;
}
aside p{
	background: aquamarine;
}
main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: aqua;
}
main div:nth-child(odd){
	background-color: magenta;
}
main div:nth-child(even){
	background-color: aqua;
}
footer{
	background-color: aquamarine;
}
footer ul{
	border: ridge magenta;
}
footer ul li:nth-child(odd){
	background: aqua
}
footer ul li:nth-child(even){
	background: magenta;
}